* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  background-color: white;
  height: auto;
  overflow: hidden;
  width: 100vw;
}

.main .container-1 {
  background-color: #ff7a85;
  background-image: url(../images/bg-pattern-intro-mobile.svg);
  background-position: -350px -400px;
  border-bottom-left-radius: 25%;
  height: 650px;
  text-align: center;
  width: 100%;
}

.main .container-1 .mobile-navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.main .container-1 #text-1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 75px;
}

.main .container-1 #text-1-2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.main .container-1 #text-2 {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}

.main .container-1 .button-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  margin-top: 100px;
}

.main .container-1 .button-row #start {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.main .container-1 .button-row #start:hover {
  cursor: pointer;
}

.main .container-1 .button-row #learn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.main .container-1 .button-row #learn:hover {
  cursor: pointer;
}

.main .container-2 {
  text-align: center;
  width: 100%;
}

.main .container-2 #text-3 {
  margin-top: 50px !important;
}

.main .container-2 .heading-2 {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.main .container-2 #editor-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
}

.main .container-2 .text-2 {
  color: #4b5862;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  padding: 0px 40px;
}

.main .container-3 {
  background-color: #1f3f5b;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: -350px -550px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  margin-top: 250px;
  position: relative;
  text-align: center;
  width: 100%;
}

.main .container-3 #phones-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -175px;
  width: 100%;
}

.main .container-3 #text-8, .main .container-3 #text-9 {
  position: relative;
  top: -175px;
}

.main .container-3 .heading-3 {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 40px;
}

.main .container-3 .text-3 {
  color: #c8c8cb;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 20px;
  padding: 0px 40px;
}

.main .container-4 {
  text-align: center;
  width: 100%;
}

.main .container-4 #laptop-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100%;
}

.main .container-4 .heading-4 {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.main .container-4 .text-4 {
  color: #4b5862;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  padding: 0px 40px;
}

.main .container-5 {
  background-color: #25252d;
  border-top-right-radius: 25%;
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin-top: 75px;
  text-align: center;
  width: 100%;
}

.main .container-5 #footer-logo {
  margin-top: 80px;
}

.main .container-5 .footer-list {
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
}

.main .container-5 #item-1 {
  margin-top: 20px !important;
}

.main .container-5 .footer-item {
  color: #c8c8cb;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.main .container-5 #list-3 {
  padding-bottom: 50px;
}

#mobile-close {
  display: block;
}

#mobile-hamburger {
  display: none;
}

.mobile-menu {
  background-color: white;
  border-radius: 10px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 40px;
  width: 350px;
}

.mobile-menu .accordion-item .accordion-tab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu .accordion-item .accordion-tab .accordionTitle {
  cursor: pointer;
  color: #1f3f5b;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mobile-menu .accordion-item #tab-2, .mobile-menu .accordion-item #tab-3 {
  margin-top: 10px;
}

.mobile-menu .accordion-item .accordion-content {
  color: #1f3f5b;
  background-color: #c8c8cb;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

.mobile-menu .accordion-item .accordion-content p {
  cursor: pointer;
  padding: 10px 40px;
}

.mobile-menu .accordion-item .accordion-content p:hover {
  text-decoration: underline;
}

.mobile-menu .menu-line {
  display: block;
  border-color: #c8c8cb;
  border-width: 1px;
  margin-top: 30px;
  width: 100%;
}

.mobile-menu .menu-login {
  display: block;
  color: #1f3f5b;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 40px;
}

.mobile-menu .menu-login:hover {
  cursor: pointer;
}

.mobile-menu .menu-signup {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 175px;
}

.mobile-menu .menu-signup:hover {
  cursor: pointer;
}

.accordion-tab:hover {
  font-weight: 700;
}

.closed {
  display: none;
}

.open {
  color: #4b5862 !important;
  display: block;
}

.rotate-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.selected-title {
  font-weight: 700 !important;
}

#desktop-text-1, #desktop-text-2 {
  display: none;
}

#editor-desktop {
  display: none;
}

#phones-desktop {
  display: none;
}

#laptop-desktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  #desktop-navbar {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .closed {
    display: none !important;
  }
  .open {
    color: #4b5862 !important;
    display: block;
  }
  .main .container-1 {
    background-image: url(../images/bg-pattern-intro-desktop.svg);
    background-position: -650px -1150px;
    border-bottom-left-radius: 25%;
  }
  .main .container-1 #navbar, .main .container-1 #text-1, .main .container-1 #text-1-2, .main .container-1 #text-2, .main .container-1 #mobile-menu {
    display: none !important;
  }
  .main .container-1 .desktop-navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 150px !important;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
  }
  .main .container-1 .desktop-navbar .column-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .container-1 .desktop-navbar .column-1 #desktop-logo {
    height: 30px;
    padding-right: 10px;
    width: 70px;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 140px;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-tab {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-right: 60px;
    position: relative;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-tab .desktop-accordionTitle {
    color: #c8c8cb;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-right: 5px;
    position: relative;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-tab img {
    height: 10px;
    width: 10px;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-tab:hover {
    cursor: pointer;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-tab:hover .desktop-accordionTitle {
    color: white;
    text-decoration: underline;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-content {
    background-color: white;
    border-radius: 5px;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 20px;
    position: relative;
    text-align: left;
    top: 15px;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-content p {
    color: #1f3f5b;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .main .container-1 .desktop-navbar .column-1 .desktop-accordion .desktop-accordion-item .desktop-accordion-content p:hover {
    cursor: pointer;
    font-weight: 700;
  }
  .main .container-1 .desktop-navbar .column-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .container-1 .desktop-navbar .column-2 #desktop-login {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main .container-1 .desktop-navbar .column-2 #desktop-login:hover {
    cursor: pointer;
  }
  .main .container-1 .desktop-navbar .column-2 #desktop-sign-up {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #ff525d;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .main .container-1 .desktop-navbar .column-2 #desktop-sign-up:hover {
    cursor: pointer;
  }
  .main .container-1 #desktop-text-1 {
    color: white;
    display: block !important;
    font-family: "Overpass", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 100px;
  }
  .main .container-1 #desktop-text-2 {
    color: white;
    display: block !important;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
  }
  .main .container-1 .button-row {
    display: block !important;
    margin-top: 50px;
  }
  .main .container-1 .button-row #start {
    margin-right: 5px;
  }
  .main .container-1 .button-row #learn {
    margin-left: 5px;
  }
  .main .container-2 {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
  }
  .main .container-2 .desktop-flex-container-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 50px;
  }
  .main .container-2 .desktop-flex-container-2 #editor-desktop {
    display: block !important;
    width: 50%;
  }
  .main .container-2 .desktop-flex-container-2 #editor-mobile {
    display: none;
  }
  .main .container-2 .desktop-flex-container-2 .desktop-flex-container-2-2 {
    text-align: left;
  }
  .main .container-2 .desktop-flex-container-2 .desktop-flex-container-2-2 p {
    padding-left: 0px;
    padding-right: 50px;
  }
  .main .container-2 .desktop-flex-container-2 .desktop-flex-container-2-2 .text-2 {
    font-size: 16px !important;
  }
  .main .container-2 .desktop-flex-container-2 .desktop-flex-container-2-2 #text-6 {
    margin-top: 75px !important;
  }
  .main .container-3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: -150px -550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .container-3 #phones-mobile {
    display: none;
  }
  .main .container-3 #phones-desktop {
    display: block !important;
    position: relative;
    top: -125px;
  }
  .main .container-3 .desktop-flex-container-3 {
    text-align: left;
  }
  .main .container-3 .desktop-flex-container-3 #text-8 {
    padding-left: 0px;
    margin-top: 300px;
  }
  .main .container-3 .desktop-flex-container-3 #text-9 {
    padding-left: 0px;
    padding-right: 100px;
  }
  .main .container-4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
  }
  .main .container-4 #laptop-mobile {
    display: none !important;
  }
  .main .container-4 #laptop-desktop {
    display: block;
    height: 700px;
    left: -200px;
    margin-top: 50px;
    position: relative;
    width: 700px;
  }
  .main .container-4 .desktop-flex-container-4 {
    text-align: left;
  }
  .main .container-4 .desktop-flex-container-4 p {
    padding-left: 0px;
  }
  .main .container-5 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    width: 100%;
  }
  .main .container-5 #footer-logo {
    margin: 0px;
  }
  .main .container-5 .footer-list {
    list-style: none;
    margin: 0px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */